Schema session 1/validate.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
        <xs:element name="Books">
            <xs:complexType mixed="true">
                <xs:sequence>
                    <xs:element name="BookName" type="xs:string"/>
                    <xs:element name="ISBN" type="xs:positiveInteger"/>
                    <xs:element name="Price" type="xs:string"/>   
                </xs:sequence>
            </xs:complexType>
        </xs:element>       
    
</xs:schema>
 